extends layout

block content
  h1= title
  p Welcome to #{title}
  p This is a test
  h1 Yeiiii!!! is working =)
  p Another test
  p This will test if when you make a pull request and merge it to the master makes an auto deploy